name: Build PDF

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          latexmk_use_lualatex: true
          root_file: main.tex

      - name: Rename file
        id: rename_file
        run: |
          sha_short=$(git rev-parse --short HEAD)
          datetime_now=$(date +'%Y-%m-%dT%H:%M:%S')
          filename=pow_riemanna-$datetime_now-$sha_short.pdf
          echo "filename=$filename" >> $GITHUB_OUTPUT
          echo "sha_short=$sha_short" >> $GITHUB_OUTPUT
          mv main.pdf $filename
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ steps.rename_file.outputs.filename }}
          tag_name: ${{ steps.rename_file.outputs.sha_short }}
          draft: false
          prerelease: false
          files: ${{ steps.rename_file.outputs.filename }}
